.main-contacts {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.main-contacts__list-item {
    display: flex;
    align-items: center;
}

.main-contacts__list-icon {
    margin-right: 10px;
}

.main-contacts__list-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items:center;

    color: $primary-text-color;
    fill: $primary-text-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms $transition-effect, 
                fill 250ms $transition-effect;
}

.main-contacts__list-link:hover,
.main-contacts__list-link:focus {
    color: $accent-color;
    fill: currentColor;
}
