/* logo */
.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;

    &__content {
        color: $accent-color;
        
        font-family: Raleway, sans-serif;
    }
    
    &--color {
          color:$primary-white-color;
      }
}


